<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ParkcopeEncargado.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>741877E0BD37185810F31C3AAE9AF7C4DD019087</string>
				<key>dateExpires</key>
				<string>6/17/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>741877E0BD37185810F31C3AAE9AF7C4DD019087</string>
						<key>dateExpires</key>
						<string>6/17/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSCognitoIdentityProvider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZH3TC8QFM3</string>
						<key>name</key>
						<string>Softnet Soluciones S.A. de C.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>741877E0BD37185810F31C3AAE9AF7C4DD019087</string>
						<key>dateExpires</key>
						<string>6/17/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSCognitoIdentityProviderASF.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZH3TC8QFM3</string>
						<key>name</key>
						<string>Softnet Soluciones S.A. de C.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>741877E0BD37185810F31C3AAE9AF7C4DD019087</string>
						<key>dateExpires</key>
						<string>6/17/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZH3TC8QFM3</string>
						<key>name</key>
						<string>Softnet Soluciones S.A. de C.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>741877E0BD37185810F31C3AAE9AF7C4DD019087</string>
						<key>dateExpires</key>
						<string>6/17/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZH3TC8QFM3</string>
						<key>name</key>
						<string>Softnet Soluciones S.A. de C.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>741877E0BD37185810F31C3AAE9AF7C4DD019087</string>
						<key>dateExpires</key>
						<string>6/17/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZH3TC8QFM3</string>
						<key>name</key>
						<string>Softnet Soluciones S.A. de C.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>741877E0BD37185810F31C3AAE9AF7C4DD019087</string>
						<key>dateExpires</key>
						<string>6/17/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZH3TC8QFM3</string>
						<key>name</key>
						<string>Softnet Soluciones S.A. de C.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>741877E0BD37185810F31C3AAE9AF7C4DD019087</string>
						<key>dateExpires</key>
						<string>6/17/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZH3TC8QFM3</string>
						<key>name</key>
						<string>Softnet Soluciones S.A. de C.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>741877E0BD37185810F31C3AAE9AF7C4DD019087</string>
						<key>dateExpires</key>
						<string>6/17/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZH3TC8QFM3</string>
						<key>name</key>
						<string>Softnet Soluciones S.A. de C.V.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ZH3TC8QFM3.com.Softnet.Parkcope.ParkcopeEncargado</string>
				<key>com.apple.developer.team-identifier</key>
				<string>ZH3TC8QFM3</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>ZH3TC8QFM3.com.Softnet.Parkcope.ParkcopeEncargado</string>
				</array>
			</dict>
			<key>name</key>
			<string>ParkcopeEncargado.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0c185fa8-e837-4127-8c33-10e8237d84b2</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.Softnet.Parkcope.ParkcopeEncargado</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ZH3TC8QFM3</string>
				<key>name</key>
				<string>Softnet Soluciones S.A. de C.V.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
